@font-face {
    font-family: "Adele";
    src: url(./fonts/ADELE-Light.ttf) format("truetype");
}
@font-face {
    font-family: "LG Weather Z";
    src: url(./fonts/LG_Weather_Z.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto Light";
    src: url(./fonts/Roboto-Light.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto Thin";
    src: url(./fonts/Roboto-Thin.ttf) format("truetype");
}

html, body, #container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-family: sans-serif;
  overflow: hidden;
}

.app {
  color: white;
  text-shadow: #000 1px 1px; 

  width: 100%;
  height: 100%;
}

.background {
  background: url('/public/images/background.jpg');

  transform: scale(1.05);
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width:100%;
  height:100%;
}
.homepage {
  display:flex;
  justify-content: center;

  height:100%;
}

.main-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:250px;

  background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 30%,rgba(0,0,0,0) 70%); 

  width: 40em;
  height: 20em;
}

.main-panel-separator {
  background: white; 

  margin:0 1em;

  width: .2em;
  height: 9em;
}

.clock {
  display: flex;
  flex-direction: column;

  width: 17em;
}

.time-today {
  font-family: 'Adele';
  font-size: 2.5em;
}
.time-current {
  font-family: 'LG Weather Z';
  font-size: 8.5em;
}
.time-meridian {
  display: flex;
  justify-content: flex-end;
  
  font-family: 'Adele';
  font-size: 2.2em;
}
.time-day {
  font-family: 'Adele';
  font-size: 2.2em;
}

.weather-current {
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  align-items: center;

  margin: 1em 0;
}
.weather-temperature {
  font-family: 'Adele';
  font-size: 3.0em;
}
.weather-unit {
  font-family: 'Adele';
  font-size: 1.5em;
}
.weather-current-separator {
  background: rgba(255, 255, 255, 0.5);

  margin: 0 1em;

  width: 0.1em;
  height: 2.3em;
}
.weather-condition {
  font-family: 'Roboto Light';
  font-size: 1.8em;
  font-style: italic;
}
.weather-extremes {
  font-family: 'Roboto Light';
  font-size: 1.2em;
  font-style: italic;
}

.music-panel {
  position: absolute;
  bottom: 2em;
  left: 2em;
}
.music-track {
  font-family: 'Roboto Light';
  font-size: 2.2em;
}
.music-artist {
  font-family: 'Roboto Thin';
  font-size: 1.6em;
}
.music-length {
  background-color: rgba(255, 255, 255, 0.3);
  /*overflow: hidden;*/
  width: 24em;
  height: .1em;
}
.music-progress {
  background-color: white;
  height: .1em;
}
.music-tracker {
  float:right;
  font-family: 'Roboto Light';
  font-size:0.7em;
}
