@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
@import '../node_modules/weather-icons/css/weather-icons.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

.background {
  /*filter: blur(16px);*/
}

.forecast {
  border-spacing: 0px;
  text-align: center;
  position: absolute;
  bottom: 100px;
  background: rgba(0, 0, 0, 0.1);
}

.forecast tr td {
  border-left:solid 1px #fff;
  padding:5px 50px;
}

.forecast tr td:first-child,
.forecast tr:first-child td,
.forecast tr:last-child td
 {
  border-left:none;
}

/*.forecast tr td:first-child {
  color:#888
}*/
.forecast tr td:nth-child(1) {
  color:#d6e7ff;
  text-shadow: 0 0 #ffffff;
  background:rgba(255, 255, 255, 0.05)
  /*background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,0,0,1));*/
}

.highs, .lows, .precips {
  /*font-family: 'LG Weather Z';*/
  font-family: 'Lato', sans-serif;
  font-size:18px;
}
.forecast .day {
  font-family: 'Roboto Thin';
  font-weight: bold;
  text-transform: uppercase;
}
.forecast .skyimg {
  display: block;
  font-size:36px;
  margin:10px 0;
}
.forecast .skytext {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Adele'
}

.lowtime, .hightime {
  font-size:9px;
}

.current {
  float:left;
}

.hourly {
  float:right;
  width:1100px;
}

.hourly div > span {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  font-family: 'Roboto';
  font-size: 16px;
}
.hourly-body {
  height: 300px;
  overflow: auto;
}
.hourly div > span.hourly-time {
  font-family: 'Lato';
  font-size: 18px;
  width:100px;
}
.hourly div > span.hourly-summary {
  font-family: 'Roboto Light';
  font-size:18px;
  width:150px;
}
.hourly div > span.hourly-temperature {
  font-size:18px;
  width:150px;
}
.hourly div > span.hourly-temperature > span.hourly-apparent {
  color: #eee;
  font-size: 14px;
  margin-left: 10px;
}
.hourly div > span.hourly-precip {
  width:200px;
}
.hourly div > span.hourly-wind {
  width:200px;
}
.hourly-header {
  font-size: 28px;
}
.hourly-entry {
  background:rgba(255, 255, 255, 0.05);
}
.hourly-entry-alt {
  background:rgba(0, 0, 0, 0.1);
}
